//------------Responsive Rules---------------------------//
@media (max-width: 500px) {

    body {
        .mainContainer {

            .LogoContainer {
                width: 100%;
                display: flex;
                align-self: flex-start;
                margin: 3rem 0;
                a {
                    width: 100%;
                    position: relative;
                    img {
                        width: 60%;
                    }
                }
            }

            .ServiciosContainer {

                .main {
                    width: 100%;
                    height: auto;
                    justify-content: space-around;

                    .tituloContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 0;
                        p {
                            text-align: center;
                            margin-top: 1%;
                        }
                        .titulo {
                            font-size: 3rem;
                            font-weight: 500;
                            text-align: center;
                        }

                        .tituloTexto {
                            font-weight: lighter;
                            font-size: 1.2rem;
                        }
                    }

                    .tarjetasContainer {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;

                        .tarjetaOne{
                            width: 90%;
                            text-align: center;                       
                        }


                        .tarjeta {
                            width: 90%;
                            height: 500px;
                            margin-top: 10%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            img {
                                width: 85%;
                            }

                            ul {
                                padding: 0 2%;
                                li {
                                    text-align: justify;
                                    padding: 2px 0;
                                    list-style: none;
                                }

                                li::before {
                                    content: "•";
                                    color: #f28220;
                                    display: inline-block;
                                    width: 1em;
                                    margin-left: -1em;
                                }

                            }
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80%;
                            padding: 1.2%;
                            border: none;
                            border-radius: 3px;
                            background-color: #f29e54;
                            img {
                                margin-right: 10px;
                            }
                        }

                    }

                }
            }
        }
    }

}
