<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta
            name="description"
            content="Empresa que brinda servicios de consultoría integral en materia de seguridad industrial, protección civil, así como también capacitación y adiestramiento en la materia.">
        <meta
            name="keywords"
            content="SIPC Guadalajara Protección civil Consultores Seguridad industrial Normatividad Capacitación">
        <meta name="author" content="Iqiss México">

        <meta property="”og:type”" content="article"/>
        <meta property="”og:title”" content="SIPC Consultores"/>
        <meta
            property="”og:description”"
            content="Empresa que brinda servicios de consultoría integral en materia de seguridad industrial, protección civil, así como también capacitación y adiestramiento en la materia."/>
        <meta property="”og:image”" content="https://sipc.com.mx/img/LogoTrans.png"/>
        <meta property="”og:url”" content="https://sipc.com.mx/"/>
        <meta property="”og:site_name”" content="SIPC Consultores"/>

        <meta name="”twitter:title”" content="SIPC Consultores">
        <meta
            name="”twitter:description”"
            content="Empresa que brinda servicios de consultoría integral en materia de seguridad industrial, protección civil, así como también capacitación y adiestramiento en la materia.">
        <meta name="”twitter:image”" content="https://sipc.com.mx/img/LogoTrans.png">

        <title>SIPC Consultores</title>
        <link rel="icon" href="/img/SIPCIcon.png">
        <link rel="stylesheet" href="/css/landing.css">
        <link rel="stylesheet" href="/css/landingResponsive.css">
        <link rel="stylesheet" href="/css/indexResponsive.css">
    </head>

    <body>
        <div class="mainContainer">
            <div class="LogoContainer">
                <a href="/index.html">
                    <img
                        src="/img/LogoTrans.png"
                        alt="Logo sipc"
                        title="Logo sipc"
                        width=""
                        height=""/>
                </a>
            </div>

            <div class="ServiciosContainer">

                <div class="main">
                    <div class="tituloContainer">
                        <p class="titulo">Normatividad</p>

                        <h2 class="subtitle">¿Quienes somos?</h2>
                        <p class="texto">
                            Somos una empresa que brinda
                            <strong>servicios de consultoría integral</strong>
                            en materia de
                            <strong>seguridad industrial</strong>, protección civil, así como también
                            capacitación y adiestramiento en la materia.
                        </p>

                        <p class="texto">
                            Buscamos garantizar condiciones de trabajo seguras y saludables en el desarrollo
                            de las diferentes actividades que se desempeñan en los centros laborales a
                            través de la identificación de los peligros, evaluación y control de los riesgos
                            ocupacionales, por medio de capacitación, adiestramiento, equipamiento e
                            implementación de procedimientos que contribuyan al bienestar físico, metal y
                            social de los colaboradores, con el fin de evitar accidentes de trabajo y
                            enfermedades laborales.
                        </p>

                        <h2 class="subtitle">Normatividad</h2>
                        <p class="texto">
                            Brindamos asesoría para que su centro laboral cumpla con las normas oficiales
                            mexicanas que apliquen.
                        </p>
                    </div>

                    <div class="tarjetasContainer">
                        <div class="tarjeta">
                            <img
                                src="/img/normatividadIMG/normatividad1.png"
                                alt="Imagen seguridad e higiene"
                                title="Imagen seguridad e higiene"
                                width=""
                                height=""/>
                            <h4>Capactitaciones</h4>
                            <ul>
                                <li>Condiciones de seguridad para realizar trabajos en altura</li>
                                <li>Condiciones de seguridad para operación montacargas</li>
                                <li>Condiciones de seguridad para realizar trabajos en espacios confinados</li>
                                <li>Condiciones de seguridad e higiene en actividades de soldadura y corte</li>
                                <li>Comisión de seguridad e higiene</li>
                            </ul>
                        </div>
                        <div class="tarjeta">
                            <img
                                src="/img/normatividadIMG/normatividad2.jpg"
                                alt="Imagen de incendio"
                                title="Imagen de incendio"
                                width=""
                                height=""/>
                            <h4>Determinación de grado de riesgo de incendio</h4>

                        </div>
                        <div class="tarjeta">
                            <img
                                src="/img/normatividadIMG/normatividad3.jpg"
                                alt="Imagen de proteccion personal"
                                title="Imagen de proteccion personal"
                                width=""
                                height=""/>
                            <h4>Determinación de equipo de protección personal</h4>
                        </div>
                    </div>

                    <div class="tituloContainer">
                        <h5 class="box">
                            <u>Para m&aacute;s informaci&oacute;n da
                                <strong>clic</strong>
                                en un boton:</u>
                        </h5>
                        <p class="box">
                            <smal>Te enviaremos un
                                <strong>PDF</strong>
                                con el detallado de todos nuestros servicios</smal>
                        </p>
                    </div>

                    <div class="buttons">
                        <a href="tel:3315257481">
                            <img
                                src="/img/phone-call.png"
                                alt="Imagen telefono"
                                title="Imagen telefono"
                                width=""
                                height=""/>
                            <p>Llámanos</p>
                        </a>
                        <a href="mailto:silverio@sipc.com.mx">
                            <img
                                src="/img/email.png"
                                alt="Imagen email"
                                title="Imagen email"
                                width=""
                                height=""/>
                            <p>Escríbenos</p>
                        </a>
                        <a href="https://wa.me/523319424575" target="_blank">
                            <img
                                src="/img/whatsapp.png"
                                alt="Imagen whatsapp"
                                title="Imagen whatsapp"
                                width=""
                                height=""/>
                            <p>Envía Whatsapp</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet">
    </body>

</html>