<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPC Consultores</title>
    <link rel="icon" href="../img/SIPCIcon.png">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/landingResponsive.css">
    <link rel="stylesheet" href="../css/indexResponsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>


    <div class="mainContainer">
        <div class="LogoContainer">
            <a href="../index.html">
                <img src="../img/LogoTrans.png" alt="Logo sipc">
            </a>
        </div>

        <div class="ServiciosContainer">

            <div class="main">
                <div class="tituloContainer">
                    <h1 class="titulo">Protección Civil</h1>

                    <h2 class="subtitle">¿Quienes Somos?</h2>
                    <p class="texto">
                        Somos una empresa que brinda <strong>servicios de consultoría integral</strong> en
                        materia de <strong>seguridad industrial</strong>, protección civil, así como también
                        capacitación y adiestramiento en la materia.
                    </p>

                    <p class="texto">
                        Buscamos garantizar condiciones de trabajo seguras y saludables en el
                        desarrollo de las diferentes actividades que se desempeñan en los
                        centros laborales a través de la identificación de los peligros,
                        evaluación y control de los riesgos ocupacionales, por medio de
                        capacitación, adiestramiento, equipamiento e implementación de
                        procedimientos que contribuyan al bienestar físico, metal y social de
                        los colaboradores, con el fin de evitar accidentes de trabajo y
                        enfermedades laborales.
                    </p>

                    <h2 class="subtitle">Consultoria en proteccion civil</h2>
                    <p class="texto">
                        Elaboramos programas internos de protección civil para contribuir a la reducción del riesgo en
                        los centros laborales, la realización de estos es con base a las regulaciones en materia de
                        protección civil, comprometidos con nuestros clientes llevamos en conjunto con las unidades
                        internas de protección civil la implementación de este programa en su centro laboral.
                    </p>
                </div>

                <div class="tarjetasContainer">
                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil2.png" alt="">
                        <h4>Capacitación para formación de brigadas de protección civil</h4>
                        <ul>
                            <li>Primeros auxilios</li>
                            <li>Supervisión de Seguridad en Obra</li>
                            <li>Selección de Equipo de Protección personal</li>
                            <li>Prevenci&oacute;n y combate de incendios</li>
                            <li>Manejo de materiales peligrosos</li>
                        </ul>
                    </div>




                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil4.jpg" alt="">
                        <h4>Elaboración de programas internos de protección civil</h4>
                        <ul>
                            <li>Con el objetivo de proteger a las personas y a la sociedad ante las eventualidades.</li>
                            <li>Realizamos la gesti&oacute;n con protecci&oacute;n civil del cumplimiento de las regulaciones</li>
                        </ul>
                    </div>


                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil3.png" alt="">
                        <h4>Estudio General de riesgos</h4>
                        <ul>
                            <li>Asesor&iacute;a en materia de protección civil para el cumplimiento de las regulaciones
                                vigentes.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tituloContainer">
                    <h5 class="box">
                        <u>Para m&aacute;s informaci&oacute;n da <strong>clic</strong> en un boton:</u>
                    </h5>
                    <p class="box">
                        <smal>Te enviaremos un <strong>PDF</strong> con el detallado de todos nuestros servicios</smal>
                    </p>
                </div>

                <div class="buttons">
                    <a href="tel:3315257481">
                        <img src="../img/phone-call.png" alt="">
                        <p>Llámanos</p>
                    </a>
                    <a href="mailto:silverio@sipc.com.mx">
                        <img src="../img/email.png" alt="">
                        <p>Escríbenos</p>
                    </a>
                    <a href="https://wa.me/523319424575">
                        <img src="../img/whatsapp.png" alt="">
                        <p>Envía Whatsapp</p>
                    </a>
                </div>


            </div>

        </div>
    </div>



</body>

</html>