<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPC Consultores</title>
    <link rel="icon" href="../img/SIPCIcon.png">   
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/landingResponsive.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/indexResponsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>


    <div class="mainContainer">
        <div class="LogoContainer">
            <a href="../index.html">
                <img src="../img/LogoTrans.png" alt="">
            </a>
        </div>

        <div class="ServiciosContainer">

            <div class="main">
                <div class="tituloContainer">
                    <p class="quienesSomos">¿Quienes Somos?</p>
                    <p class="quienTexto">
                        Somos una empresa que brinda servicios de consultoría integral en
                        materia de seguridad industrial, protección civil, así como también
                        capacitación y adiestramiento en la materia.
                    </p>

                    <p class="buscamosTexto">
                        Buscamos garantizar condiciones de trabajo seguras y saludables en el
                        desarrollo de las diferentes actividades que se desempeñan en los
                        centros laborales a través de la identificación de los peligros,
                        evaluación y control de los riesgos ocupacionales, por medio de
                        capacitación, adiestramiento, equipamiento e implementación de
                        procedimientos que contribuyan al bienestar físico, metal y social de
                        los colaboradores, con el fin de evitar accidentes de trabajo y
                        enfermedades laborales.
                    </p>


                    <p class="titulo">Protección Civil</p>
                    <p class="tituloTexto">
                        Elaboramos programas internos de protección civil para contribuir a la reducción del riesgo en los centros laborales, la realización de estos es con base a las regulaciones en materia de protección civil, comprometidos con nuestros clientes llevamos en conjunto con las unidades internas de protección civil la implementación de este programa en su centro laboral. 
                    </p>
                </div>
    
                <div class="tarjetasContainer">
                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil2.png" alt="">  
                        <p>Capacitación para formación de brigadas de protección civil</p>                                  
                    </div>
                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil4.jpg" alt="">
                        <p>Elaboración de programas internos de protección civil</p>                      
                    </div>
                    <div class="tarjeta">
                        <img src="../img/proteccionIMG/ProteccionCivil3.png" alt="">
                        <p>Estudio General de riesgos</p>                        
                    </div>
                </div>

                <div class="buttons">
                    <a href="tel:3315257481"> 
                        <img src="../img/phone-call.png" alt="">
                        <p>Llámanos</p>
                    </a>
                    <a href="mailto:silverio@sipc.com.mx">
                        <img src="../img/email.png" alt="">
                        <p>Escríbenos</p>
                    </a>
                    <a href="https://wa.me/523319424575">
                        <img src="../img/whatsapp.png" alt="">
                        <p>Envía Whatsapp</p>
                    </a>
                </div>


            </div>

        </div>
    </div>

    

</body>
</html>
