<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPC Consultores</title>
    <link rel="icon" href="../img/SIPCIcon.png">
    <link rel="stylesheet" href="../css/seguridadResponsive.css">    
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/landingResponsive.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/indexResponsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <div class="LogoContainer">
            <img src="../img/LogoTrans.png" alt="">
        </div>

        <div class="ServiciosContainer">

            <div class="main">
                <div class="tituloContainer">
                    <p class="titulo">Seguridad Industrial</p>
                    <p>
                        En los centros de trabajo la implementación de un análisis de riesgos es de suma importancia, 
                        la identificación análisis y evaluación de riesgos nos permite detectar los posibles escenarios 
                        de riesgo que pueden presentarse; Esto permite implementar medidas de control y mitigación con 
                        el objetivo de reducirlos o eliminarlos generando condiciones de seguridad favorables para el trabajador.
                    </p>
                </div>
    
                <div class="tarjetasContainer">
                    <div class="tarjeta">
                        <img src="../img/seguridadIMG/seguridad6.jpg" alt="">
                        <p>Equipos de protección personal</p>            
                    </div>
                    <div class="tarjeta">
                        <img src="../img/seguridadIMG/seguridad3.jpg" alt="">
                        <p>Venta, recarga y mantenimiento de equipos contra incendio</p>
                    </div>
                    <div class="tarjeta">
                        <img src="../img/seguridadIMG/seguridad1.jpg" alt="">
                        Sistema de detección y alarma contra incendio
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="buttons">
        <button>
            <img src="../img/phone-call.png" alt="">
            <p>Llámanos</p>
        </button>
        <button>
            <img src="../img/email.png" alt="">
            <p>Escríbenos</p>
        </button>
        <button>
            <img src="../img/whatsapp.png" alt="">
            <p>Envía Whatsapp</p>
        </button>
    </div>

    <div class="PieContainer">
        <div class="LogoPie">
            <a href="../index.html"><img src="../img/logoTrans.png" alt=""></a>
        </div>
        <div class="ContactoContainer">
            <h4>Contacto</h4>
            <div class="contacto" style="display: flex;">
                <img src="../img/phone-call.png" alt="">
                <p>312 857 00 00</p>
            </div>
            <div class="contacto" style="display: flex;">
                <img src="../img/email.png" alt="">
                <p>silverio@sipc.com.mx</p>
            </div>
        </div>
        <div class="RedesContainer">
            <h4>Redes Sociales</h4>
            <div>
                <a href="">
                    <img src="../img/facebook.png" alt="">
                </a>
            </div>

            <div>
                <a href=""><img src="../img/instagram.png" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>
